/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x:var(--un-empty,/*!*/ /*!*/);--un-pan-y:var(--un-empty,/*!*/ /*!*/);--un-pinch-zoom:var(--un-empty,/*!*/ /*!*/);--un-scroll-snap-strictness:proximity;--un-ordinal:var(--un-empty,/*!*/ /*!*/);--un-slashed-zero:var(--un-empty,/*!*/ /*!*/);--un-numeric-figure:var(--un-empty,/*!*/ /*!*/);--un-numeric-spacing:var(--un-empty,/*!*/ /*!*/);--un-numeric-fraction:var(--un-empty,/*!*/ /*!*/);--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 #0000;--un-ring-shadow:0 0 #0000;--un-shadow-inset:var(--un-empty,/*!*/ /*!*/);--un-shadow:0 0 #0000;--un-ring-inset:var(--un-empty,/*!*/ /*!*/);--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur:var(--un-empty,/*!*/ /*!*/);--un-brightness:var(--un-empty,/*!*/ /*!*/);--un-contrast:var(--un-empty,/*!*/ /*!*/);--un-drop-shadow:var(--un-empty,/*!*/ /*!*/);--un-grayscale:var(--un-empty,/*!*/ /*!*/);--un-hue-rotate:var(--un-empty,/*!*/ /*!*/);--un-invert:var(--un-empty,/*!*/ /*!*/);--un-saturate:var(--un-empty,/*!*/ /*!*/);--un-sepia:var(--un-empty,/*!*/ /*!*/);--un-backdrop-blur:var(--un-empty,/*!*/ /*!*/);--un-backdrop-brightness:var(--un-empty,/*!*/ /*!*/);--un-backdrop-contrast:var(--un-empty,/*!*/ /*!*/);--un-backdrop-grayscale:var(--un-empty,/*!*/ /*!*/);--un-backdrop-hue-rotate:var(--un-empty,/*!*/ /*!*/);--un-backdrop-invert:var(--un-empty,/*!*/ /*!*/);--un-backdrop-opacity:var(--un-empty,/*!*/ /*!*/);--un-backdrop-saturate:var(--un-empty,/*!*/ /*!*/);--un-backdrop-sepia:var(--un-empty,/*!*/ /*!*/);}
/* layer: __webfonts__ */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}

/* layer: default */
.mt-10{margin-top:2.5rem;}
.min-h-screen{min-height:100vh;}
.flex{display:flex;}
.flex-col{flex-direction:column;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.bg-dark-800{--un-bg-opacity:1;background-color:rgba(24,24,24,var(--un-bg-opacity));}
.from-cnxt_black{--un-gradient-from:rgba(0,3,0,var(--un-from-opacity, 1));--un-gradient-to:rgba(0,3,0,0);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.from-cnxt_red{--un-gradient-from:rgba(232,9,17,var(--un-from-opacity, 1));--un-gradient-to:rgba(232,9,17,0);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.from-slate-900{--un-gradient-from:rgba(15,23,42,var(--un-from-opacity, 1));--un-gradient-to:rgba(15,23,42,0);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.to-cnxt_blue{--un-gradient-to:rgba(5,60,156,var(--un-to-opacity, 1));}
.to-cnxt_red{--un-gradient-to:rgba(232,9,17,var(--un-to-opacity, 1));}
.to-transparent{--un-gradient-to:transparent;}
.via-blue-400{--un-gradient-to:rgba(96,165,250,0);--un-gradient-stops:var(--un-gradient-from), rgba(96,165,250,var(--un-via-opacity, 1)), var(--un-gradient-to);}
.via-transparent{--un-gradient-to:rgba(255,255,255,0);--un-gradient-stops:var(--un-gradient-from), transparent, var(--un-gradient-to);}
.via-white{--un-gradient-to:rgba(255,255,255,0);--un-gradient-stops:var(--un-gradient-from), rgba(255,255,255,var(--un-via-opacity, 1)), var(--un-gradient-to);}
.bg-gradient-to-b{--un-gradient-shape:to bottom;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.bg-gradient-to-tr{--un-gradient-shape:to top right;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.bg-cover{background-size:cover;}
.p-5{padding:1.25rem;}
.py-10{padding-top:2.5rem;padding-bottom:2.5rem;}
.py-4{padding-top:1rem;padding-bottom:1rem;}
.font-sans{font-family:"Roboto",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
.leading-normal{line-height:1.5;}
.tracking-wider{letter-spacing:0.05em;}
.text-gray-900{--un-text-opacity:1;color:rgba(26,32,44,var(--un-text-opacity));}
.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-smoothing:grayscale;}
[content~="width\=device-width\,initial-scale\=1"]{content:"width=device-width,initial-scale=1";}