name: CI

on:
  push:
    branches:
      - cnxt
  pull_request:
    branches:
      - cnxt
  workflow_dispatch:

env:
  STACK_NAME: srv-captain--remix-gun
  IMAGE: cnxt
  DOCKER_REGISTRY: bresnow
  VERSION: 0.1.25

jobs:
  docker_build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Build Docker Image & Push to Github Registry
        env:
          GH_REGISTRY: ghcr.io/bresnow
        run: |
          docker build -t ${{env.GH_REGISTRY}}/${{env.IMAGE}}:${{ env.VERSION }} --label "version=${{env.VERSION}}" --label "maintaner=Bresnow <bresnow@me.com>" .
          docker push ${{env.GH_REGISTRY}}/${{env.IMAGE}}:${{ env.VERSION }}

      - name: Build Docker Image & Push to Docker registry
        run: |
          docker build -t ${{env.DOCKER_REGISTRY}}/${{env.IMAGE}}:${{ env.VERSION }} --label "version=${{env.VERSION}}" --label "maintaner=Bresnow <bresnow@me.com>" .
          docker push ${{env.DOCKER_REGISTRY}}/${{env.IMAGE}}:${{ env.VERSION }}

      - name: Clean Up
        run: |
          docker image prune --force
          docker volume prune --force
          docker container prune --force
